body {
    box-sizing:border-box;
    padding:100px;
    font:20px/16.7px times;
}

section {
    padding:30px 0;
}
label {
    text-transform:capitalize;
    margin:20px 0;
    display:block;
}

button {
    padding:15px;
}